body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav img {
    width: 2%;
    margin-left: 2em;
    margin-top: 0;
}

nav h1 {
    font-size: 1rem;
    margin-left: 0.4em;
    color: #0E0E0E;
    font-weight: 500;
}

nav {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1em;
}

ul li {
    list-style-type: none;
    display: inline;
}

a {
    font-size: 0.85rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2em;
    color: #090909;
    
}

.nav-links {
    margin-left: auto;
    margin-right: 3.5em;
}

main {
    /* position: relative; */
}

main img {
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    margin: 0 auto;
    margin-top: 1em;
}

.text-block {
    position: absolute;
    bottom: 120px;
    left: 70px;
    color: #FFFFFF;
    text-shadow: 0px 0px black;
}

.text-block h1 {
    margin-top: 0;
}

.text-block p {
    line-height: 1.6;
    margin-bottom: 1em;
}
/* 
.grid-container {
    margin: 1em auto;
    width: 90vw;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
} */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 2.5em;
    gap: 1em;
}

.grid-item {
    padding: 1em;
    padding-bottom: 0em;
}

.grid-item img{
    width: 100%;
    height: 50%;
}

.grid-item p {
    color: #505050;
    line-height: 1.5;
    margin-bottom: 0;
}

.grid-item h2 {
    margin-bottom: 0;
}

main li {
    list-style-type: none;
    text-align: center;
}

main li a {
    text-decoration: underline;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 3em;
    height: 20px;
}

.footer-text {
    background-color: #202020;
    color: white;
    margin: 0;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-text h2 {
    margin-top: 1rem;
    margin-bottom: 0.5em;
    font-size: 0.9rem;
    font-weight: 500;
}

.footer-text p {
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: 500;
}