body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav img {
    width: 2%;
    margin-left: 2em;
    margin-top: 0;
}

nav h1 {
    font-size: 1rem;
    margin-left: 0.4em;
    color: #0E0E0E;
    font-weight: 500;
}

nav {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1em;
}

ul li {
    list-style-type: none;
    display: inline;
}

a {
    font-size: 0.85rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2em;
    color: #090909;
    
}

.nav-links {
    margin-left: auto;
    margin-right: 3.5em;
}

main {
    /* position: relative; */
}

main img {
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    margin: 0 auto;
}

.text-block {
    position: absolute;
    bottom: 120px;
    left: 70px;
    color: #FFFFFF;
    text-shadow: 0px 0px black;
}


.text-block h1 {
    margin-top: 0;
}

.text-block p {
    line-height: 1.6;
    margin-bottom: 1em;
}