body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #FAFAFA;
}

nav img {
    width: 2%;
    margin-left: 2em;
    margin-top: 0;
}

nav h1 {
    font-size: 1rem;
    margin-left: 0.4em;
    color: #0E0E0E;
    font-weight: 500;
}

nav {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 0em;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

ul li {
    list-style-type: none;
    display: inline;
}

a {
    font-size: 0.85rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2em;
    color: #090909;
}

.nav-links {
    margin-left: auto;
    margin-right: 3.5em;
}

main img {
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    margin: 0 auto;
    margin-top: 1em;
}

.text-block {
    position: absolute;
    bottom: 120px;
    left: 70px;
    color: #FFFFFF;
    text-shadow: 0px 0px black;
}

.text-block h1 {
    margin-top: 0;
}

.text-block p {
    line-height: 1.6;
    margin-bottom: 1em;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 2.5em;
    gap: 1em;
}

.grid-item {
    padding: 1em;
    padding-bottom: 0em;
}

.grid-item img{
    width: 100%;
    height: 50%;
}

.grid-item p {
    color: #505050;
    line-height: 1.5;
    margin-bottom: 0;
}

.grid-item h2 {
    margin-bottom: 0;
}

main li {
    list-style-type: none;
    text-align: center;
}

main li a {
    text-decoration: underline;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 3em;
    height: 20px;
}

.footer-text {
    background-color: #202020;
    color: white;
    margin: 0;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-text h2 {
    margin-top: 1rem;
    margin-bottom: 0.5em;
    font-size: 0.9rem;
    font-weight: 500;
}

.footer-text p {
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: 500;
}

/* About me */

.intro {
    margin-top: 6em;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 5em;
}

.intro-text {
    font-weight: 400;
    font-size: 1rem;
    margin-left: 4em;
    margin-bottom: 0;
}

.about-me-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.learning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2.5em;
    margin-bottom: 0;
    gap: 1em;
}

.learning p {
    line-height: 1.7;
    color: #505050;
}

/* Blog page */

.blog-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

.blog-header img {
    margin-top: 2em;
    margin-bottom: 1.5em;
    width: 90vw;
}

.blog-text-block {
    color: black;
}

.blog-text-block p {
    color: #505050;
    line-height: 1.7;
}

@media (max-width: 375px) {
    body {
        display: grid;
    }

    nav h1 {
        font-size: 0.6rem;
        margin-left: 0.4em;
        color: #0E0E0E;
        font-weight: 500;
    }

    nav img {
        width: 5%;
        margin-left: 1em;
    }

    a {
        font-size: 0.6rem;
        font-weight: 500;
        margin-left: 1em;
    }

    main img {
        position: relative;
        width: 100vw;
        height: 40vh;
        display: flex;
        margin: 0 auto;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1em;
    }

    .text-block {
        position: absolute;
        bottom: 320px;
        left: 20px;
        color: #FFFFFF;
        text-shadow: 0px 0px black;
    }


    .text-block h1 {
        margin-top: 0;
        font-size: 20px;
    }

    .text-block p {
        font-size: 10px;
        line-height: 1.6;
        margin-bottom: 1em;
        color: white;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 0.5em;
        gap: 1em;
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five"
        "six";
    }

    .blog-one {
        grid-area: one;
    }

    .blog-two {
        grid-area: two;
    }

    .blog-three {
        grid-area: three;
    }

    .blog-four {
        grid-area: four;
    }

    .blog-five {
        grid-area: five;
    }

    .blog-six {
        grid-area: six;
    }

    .grid-item {
        padding-bottom: 0em;
    }

    .grid-item img{
        width: 100%;
        height: 50%;
    }

    .grid-item p {
        color: #505050;
        font-size: 0.8rem;
        line-height: 1.5;
        margin-bottom: 0;
    }

    .grid-item h2 {
        margin-bottom: 0;
    }

    /* About me */

    .intro {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left: 0;
    }

    .intro-text {
        font-weight: 400;
        font-size: 0.8rem;
        margin-left: 1em;
        margin-bottom: 0;
    }

    .intro-text p {
        font-size: 0.8rem;
        margin-right: 1rem;
        color: #505050;
    }

    .about-me-img {
        border-radius: 50%;
        width: 30%;
        height: 30%;
        margin-left: 1em;
    }

    .learning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    .about-grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 0.5em;
        gap: 1em;
        grid-template-areas: 
        "one"
        "two"
        "three";
        margin-bottom: 0;
        gap: 1em;
    }

    .learning p {
        font-size: 0.8rem;
        line-height: 1.7;
        color: #505050;
    }

    /* Blog page */

    .blog-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
    }

    .blog-header img {
        margin-top: 2em;
        margin-bottom: 1.5em;
        width: 90vw;
    }

    .blog-text-block {
        color: black;
        font-size: 0.9rem;
        margin-left: 1em;
        margin-right: 1em;
    }

    .blog-text-block p {
        font-size: 0.7rem;
        color: #505050;
        line-height: 1.7;
    }

}